services:
    client:
        build:
            context: ../..
            dockerfile: .ci/sqlserver/client.Containerfile
        depends_on:
          - server
        entrypoint: /client.sh
        env_file:
            - env
        environment:
            CGO_ENABLED: 0
        tty: true
        volumes:
          -
            type: bind
            source: /tmp/godfish_test/sqlserver/.test_coverage
            target: /tmp
    server:
        image: mcr.microsoft.com/mssql/server:latest
        env_file:
            - env
        environment:
            ACCEPT_EULA: '1'
