name: sqlserver
on: [push, pull_request]
jobs:
  all:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Install just
        uses: extractions/setup-just@v3
      - name: Build environment and run tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: just -f ci.Justfile sqlserver-up
      - name: Upload code coverage
        uses: codecov/codecov-action@v5
        env:
          DATADIR: /tmp/godfish_test/sqlserver/.test_coverage
        with:
          disable_search: true
          fail_ci_if_error: true
          files: ${{ env.DATADIR }}/cover.out,${{ env.DATADIR }}/integration.out,${{ env.DATADIR }}/cover_driver.out
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
      - name: Teardown
        run: just -f ci.Justfile sqlserver-down
