name: static
on: [push, pull_request]
jobs:
  security_scan:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v6
    - name: Run gosec
      uses: securego/gosec@master
      with:
        args: --tests . ./internal/... ./drivers/...

  vet:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v6
    - name: Setup go
      uses: actions/setup-go@v6
      with:
        go-version: 1.24
    - name: Install just
      uses: extractions/setup-just@v3
    - name: Vet source
      run: just vet
