name: static
on: [push, pull_request]
jobs:
  security_scan:
    runs-on: ubuntu-latest
    env:
      BIN_DIR: /usr/local/bin
    steps:
    - name: Checkout repo
      uses: actions/checkout@v6
    - name: Install just
      uses: extractions/setup-just@v3
    - name: Install gosec
      run: |
        wget -O - -q https://raw.githubusercontent.com/securego/gosec/master/install.sh |
          sh -s -- -b ${{ env.BIN_DIR }}
    - name: Run gosec
      run: just --set GOSEC ${{ env.BIN_DIR }}/gosec gosec

  vet:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v6
    - name: Setup go
      uses: actions/setup-go@v6
      with:
        go-version: 1.24
    - name: Install just
      uses: extractions/setup-just@v3
    - name: Vet source
      run: just vet
